<ion-app>
  
  <ion-split-pane 
    contentId="principal"
    when="md"
  >

    <ion-menu
      side="start"
      menuId="primerMenu"
      contentId="principal"
    >

      <ion-header>

        <ion-toolbar color="primary">
          Menu Principal
        </ion-toolbar>

      </ion-header>

      <ion-content>

        <ion-list>

          <ion-menu-toggle 
            *ngFor="let componente of componentes | async"
            autoHide="false"
          >

            <ion-item [routerLink]="[componente.redirectTo]">
      
              <ion-icon
                slot="start"
                [name]="componente.icon"
              >
              </ion-icon>
      
              <ion-label>
                {{ componente.name }}
              </ion-label>
      
            </ion-item>

          </ion-menu-toggle>

        </ion-list>

      </ion-content>

    </ion-menu>

    <ion-router-outlet id="principal"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
