<app-header [titulo]="'Cards'"></app-header>

<ion-content>

  <ion-card 
    mode="ios"
    color="primary"
  >

    <ion-card-header>

      <ion-card-subtitle>
        Card subtitle
      </ion-card-subtitle>

      <ion-card-title>
        Card title
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, dignissimos.
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-item color="primary">

      <ion-icon 
        name="pin"
        slot="start"
        color="light"
      >
      </ion-icon>

      <ion-label>
        Marcador
      </ion-label>

    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, illum?
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-img src="/assets/shapes.svg"></ion-img>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, dicta.
    </ion-card-content>

  </ion-card>

</ion-content>
